.Margin-Bot-15{
  margin-bottom: 15px;
}

label.Margin-Bot-15{
  margin-right: 10px;
}

.White{
  color: #a3a3a3;
}

body{
  
  background: url(texture.png);
}

.RedBack150{
  color: red;
}
.MarginLeft20{
  margin-left: 20px;
}

.MarginLeft50andTop20{
  margin-left: 50px;
  margin-top: 20px;
}

.inputStyle{
  border: 0;
  border-bottom: 1px solid #a3a3a3;
  color: #fefefe;
  background: transparent;
}

.marginleft137{
  margin-left: 50px;
}

.submitStyle{
  color: #a3a3a3;
  background: transparent;
}